[Desktop Entry]
Name=PSD Visualizer
Icon=/home/tvivier/Python/Time-Frequency-Module/media/logo.svg
Path=/home/tvivier/Python/Time-Frequency-Module
Exec=python3 ./run_app.py
Terminal=true
Type=Application
