[Desktop Entry]
Name=PSD Visualizer
Icon=/home/tvivier/Python/Time-Frequency-Module/media/logo.svg
Exec=python3 /home/tvivier/Python/Time-Frequency-Module/run_app.py
Terminal=true
Type=Application
